In [133]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [134]:
# чтение файла
db = pd.read_csv('fuckingshit.csv',sep = ';')

In [135]:
# вот такое гавно, а не файл
db

,Date,UGC traffic (��),PS traffic (��),Hits,Users started,Users subscribed,Conversion,Countries,Unnamed: 8,Unnamed: 9,...,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,LT�,LT total,Buy pages,Referers,Annotations,Date.1
0,NaN,NaN,NaN,(Unique),(Registered),NaN,NaN,US,GB,CA,...,Ninja,Ninja2,Upgrade,Print,offers,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"28.01.2017, Sat",NaN,NaN,126789 (89852),25783�28.7%�(5482�6.1%),569 (545),0.63% / 2.21%,240,52,31,...,16,0,0,2,77,291.0,Show �,Show �,"* ������ ��������� � ������ ����������, ������...","28.01.2017, Sat"
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"* ��������� ��������� ��, ������� ������� �à",NaN
4,"29.01.2017, Sun",NaN,NaN,122372 (86787),25570�29.5%�(5250�6.05%),602 (574),0.69% / 2.35%,260,56,38,...,13,0,0,0,83,306.0,Show �,Show �,NaN,"29.01.2017, Sun"
5,"30.01.2017, Mon",NaN,NaN,121342 (85980),25374�29.5%�(5388�6.27%),554 (527),0.64% / 2.18%,218,70,27,...,18,0,0,3,82,263.0,Show �,Show �,* ���������� ����������� ��� ������. ���������...,"30.01.2017, Mon"
6,"31.01.2017, Tue",NaN,NaN,118570 (83923),22415�26.7%�(4923�5.87%),535 (509),0.64% / 2.39%,248,45,24,...,9,0,0,1,70,265.0,Show �,Show �,* ���������� � ������� ������ �������. �������...,"31.01.2017, Tue"
7,"01.02.2017, Wed",NaN,NaN,116645 (82681),24362�29.5%�(5134�6.21%),474 (448),0.57% / 1.95%,208,30,26,...,0,0,1,0,53,229.0,Show �,Show �,* ��������� ��� � ������� ������ UG: � ������ ...,"01.02.2017, Wed"
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"* �������� ���� �������� ����� ""������������ �...",NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* ��������� ������ ����������� �� ���������� �...,NaN
10,"02.02.2017, Thu",NaN,NaN,117803 (83723),24037�28.7%�(5161�6.16%),465 (443),0.56% / 1.93%,206,45,21,...,0,0,1,5,76,252.0,Show �,Show �,* ��������� ����������� � ���������� ��� � ���...,"02.02.2017, Thu"
11,"03.02.2017, Fri",NaN,NaN,123983 (88255),23534�26.7%�(5240�5.94%),551 (518),0.62% / 2.34%,248,46,31,...,13,0,0,2,78,294.0,Show �,Show �,"* �������� ���� �������� ����� ""������������ �...","03.02.2017, Fri"
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* ��������� ������ ����������� � ������ � ����...,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* ��������� ����������� � ������� �� ��������:...,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* ������� ����������� � ����������� 1 ��������...,NaN
15,"04.02.2017, Sat",NaN,NaN,132515 (93807),24893�26.5%�(5425�5.78%),661 (629),0.70% / 2.66%,277,54,39,...,20,0,2,2,81,354.0,Show �,Show �,* ��������� ���� ��������� �� ����� ������ ���...,"04.02.2017, Sat"
16,"05.02.2017, Sun",NaN,NaN,124182 (87533),24257�27.7%�(5144�5.88%),597 (574),0.68% / 2.46%,245,58,40,...,12,0,2,3,85,294.0,Show �,Show �,NaN,"05.02.2017, Sun"
17,"06.02.2017, Mon",NaN,NaN,122724 (86654),25351�29.3%�(5392�6.22%),572 (545),0.66% / 2.26%,276,54,29,...,11,0,0,1,77,261.0,Show �,Show �,* ���������� ����������� � ������� �� ��������...,"06.02.2017, Mon"
18,"07.02.2017, Tue",NaN,NaN,124390 (87355),24479�28%�(5358�6.13%),556 (522),0.64% / 2.27%,227,55,28,...,21,0,0,2,76,255.0,Show �,Show �,* �������� ������ ������ ���� � ������,"07.02.2017, Tue"
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* ��������� ����� ��� ������� �������� �� UGC,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"* ��������� ������, ��� � header'e �������� ��...",NaN
21,"08.02.2017, Wed",NaN,NaN,119923 (85020),24353�28.6%�(5196�6.11%),538 (506),0.63% / 2.21%,225,57,32,...,5,0,0,6,68,234.0,Show �,Show �,* ��������� ��� ���� � ������������ �����,"08.02.2017, Wed"
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* ������� ������ ����������� � ������ � ���������,NaN
23,"09.02.2017, Thu",NaN,NaN,121463 (85803),24094�28.1%�(5275�6.15%),538 (510),0.63% / 2.23%,252,34,21,...,13,0,2,1,94,255.0,Show �,Show �,NaN,"09.02.2017, Thu"
24,"10.02.2017, Fri",NaN,NaN,122319 (86678),24607�28.4%�(5343�6.16%),532 (501),0.61% / 2.16%,233,40,32,...,0,22,1,5,66,281.0,Show �,Show �,* ��������� ���������� Welcome Bonus �� GPPT,"10.02.2017, Fri"
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* ��������� ����������� ���������� ��� ��������,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* ��������� ����� ��� ����������� ������ �����...,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* ����������� � introductory price ��������� �...,NaN
28,"11.02.2017, Sat",NaN,NaN,133093 (93530),26763�28.6%�(5638�6.03%),651 (614),0.70% / 2.43%,279,61,33,...,12,1,0,2,86,350.0,Show �,Show �,NaN,"11.02.2017, Sat"
29,"12.02.2017, Sun",NaN,NaN,128376 (90482),26000�28.7%�(5522�6.1%),695 (662),0.77% / 2.67%,293,60,45,...,13,0,1,3,84,358.0,Show �,Show �,NaN,"12.02.2017, Sun"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"* ��������� �����, ������� �������� �� �������...",NaN
266,"18.06.2017, Sun",NaN,NaN,99631 (71636),22048�30.8%�(4489�6.27%),487 (457),0.68% / 2.21%,192,28,32,...,3,0,0,1,56,229.0,Show �,Show �,NaN,"18.06.2017, Sun"
267,"19.06.2017, Mon",NaN,NaN,103932 (74580),23423�31.4%�(4649�6.23%),461 (435),0.62% / 1.97%,193,29,28,...,9,0,0,2,56,237.0,Show �,Show �,* [EXP] ��������� ����������� � ������������ �...,"19.06.2017, Mon"
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* [EXP] ������� ����������� � �������� �� ����...,NaN
269,"20.06.2017, Tue",NaN,NaN,102782 (73935),23207�31.4%�(4675�6.32%),456 (427),0.62% / 1.96%,184,44,27,...,9,0,0,1,65,219.0,Show �,Show �,* ���������� ����� � ���������� ������ ��� ���...,"20.06.2017, Tue"
270,"21.06.2017, Wed",NaN,NaN,100026 (72234),22138�30.6%�(4527�6.27%),421 (395),0.58% / 1.90%,187,46,12,...,11,0,0,4,54,216.0,Show �,Show �,* [EXP] ������������� ����������� � ����� �� �...,"21.06.2017, Wed"
271,"22.06.2017, Thu",NaN,NaN,97901 (70474),22019�31.2%�(4377�6.21%),405 (378),0.57% / 1.84%,170,43,21,...,7,0,0,3,58,204.0,Show �,Show �,* [BUG] �� ������� ��������� ���� �� guitaretab,"22.06.2017, Thu"
272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* [EXP] ������� ����������� � ����� �� �������...,NaN
273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* [EXP] ������� ����������� ������� �����,NaN
274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* [EXP] ��������� � ����� ��������� ����� ����...,NaN
275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* [EXP] ������� ����������� � ������������ ���...,NaN
276,"23.06.2017, Fri",NaN,NaN,97232 (70381),22022�31.3%�(4424�6.29%),433 (403),0.62% / 1.97%,174,39,18,...,5,0,1,2,57,221.0,Show �,Show �,* [EXP] ��������� ����������� ���������� �����...,"23.06.2017, Fri"
277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* [BUG] �� ������� ��������� ���� �� guitaretab,NaN
278,"24.06.2017, Sat",NaN,NaN,100922 (72228),22887�31.7%�(4583�6.35%),454 (423),0.63% / 1.98%,176,39,22,...,11,0,0,2,64,251.0,Show �,Show �,* [EXP] ��������� �������� � ������ ����������...,"24.06.2017, Sat"
279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* [EXP] ��������� ����������� � ����� ������� ...,NaN
280,"25.06.2017, Sun",NaN,NaN,103320 (73731),23123�31.4%�(4505�6.11%),425 (395),0.58% / 1.84%,134,55,25,...,5,0,0,2,67,229.0,Show �,Show �,"* [BUG] �������� ��������� ����� ������, �����...","25.06.2017, Sun"
281,"26.06.2017, Mon",NaN,NaN,103091 (74045),23662�32%�(4705�6.35%),484 (457),0.65% / 2.05%,185,45,30,...,6,0,0,1,61,219.0,Show �,Show �,* [EXP] ��������� ����������� � ���������� �� ...,"26.06.2017, Mon"
282,"27.06.2017, Tue",NaN,NaN,102045 (73013),23386�32%�(4604�6.31%),472 (450),0.65% / 2.02%,199,46,23,...,9,0,0,0,58,235.0,Show �,Show �,NaN,"27.06.2017, Tue"
283,"28.06.2017, Wed",NaN,NaN,96162 (69697),22571�32.4%�(4348�6.24%),422 (389),0.61% / 1.87%,184,22,25,...,5,0,0,6,58,214.0,Show �,Show �,"* [EXP] ���������� ������ ����������, ������� ...","28.06.2017, Wed"
284,"29.06.2017, Thu",NaN,NaN,96343 (69887),22874�32.7%�(4463�6.39%),456 (376),0.65% / 1.99%,154,41,21,...,5,48,0,2,104,313.0,Show �,Show �,* [EXP] ��������� ���������� �������� � ������...,"29.06.2017, Thu"
285,"30.06.2017, Fri",NaN,NaN,97085 (70291),23698�33.7%�(4432�6.31%),556 (498),0.79% / 2.35%,200,43,26,...,0,30,0,4,81,371.0,Show �,Show �,"* ��������� �����, ������� �������� �� �������...","30.06.2017, Fri"
286,"01.07.2017, Sat",NaN,NaN,97079 (69631),23298�33.5%�(4585�6.58%),539 (501),0.77% / 2.31%,208,42,20,...,0,17,3,1,73,291.0,Show �,Show �,NaN,"01.07.2017, Sat"
287,"02.07.2017, Sun",NaN,NaN,95770 (68365),23335�34.1%�(4599�6.73%),534 (496),0.78% / 2.29%,204,38,21,...,0,17,0,1,86,288.0,Show �,Show �,NaN,"02.07.2017, Sun"
288,"03.07.2017, Mon",NaN,NaN,95867 (68764),23327�33.9%�(4681�6.81%),441 (412),0.64% / 1.89%,185,38,14,...,0,22,0,3,79,231.0,Show �,Show �,* ������� hats �� �������,"03.07.2017, Mon"
289,"04.07.2017, Tue",NaN,NaN,93746 (67558),23273�34.4%�(4412�6.53%),518 (471),0.77% / 2.23%,242,43,12,...,0,19,0,4,77,325.0,Show �,Show �,* [EXP] �������� ����������� � �������������� ...,"04.07.2017, Tue"
290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* [EXP] ������� ����������� � ���������� �� ��...,NaN
291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* ��������� � ����� ��� ������������� ��������...,NaN
292,"05.07.2017, Wed",NaN,NaN,90620 (65395),22505�34.4%�(4539�6.94%),468 (437),0.72% / 2.08%,210,37,25,...,5,1,0,7,68,260.0,Show �,Show �,* [EXP] ��������� ����������� � �������� �����...,"05.07.2017, Wed"
293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* ��������� ����� ���� ������������� � ����� �...,NaN
294,"06.07.2017, Thu",NaN,NaN,29835 (21644),7811�36.1%�(1514�7%),111 (104),NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [136]:
# удаляем ненужную шляпу
db1 = db[db['Date']>1]
db2 = db1.reindex(columns=['Date','Hits','Users started', 'Users subscribed'])

In [137]:
# если надо ебунть текущий день
db2 = db2.drop(db2.index[len(db2)-1])

In [138]:
# заменяем ненужные символы на ';'
db2['Users started'] = db2['Users started'].str.replace('(','')
db2['Users started'] = db2['Users started'].str.replace(')','')
db2['Hits'] = db2['Hits'].str.replace('(','')
db2['Hits'] = db2['Hits'].str.replace(')','')
db2['Users subscribed'] = db2['Users subscribed'].str.replace('(','')
db2['Users subscribed'] = db2['Users subscribed'].str.replace(')','')
db2['Users started'] = db2['Users started'].str.replace('\s', ';', flags=re.UNICODE)
# делаем новые столбцы, попутно заменяя хитрые пробелы регекспом
db2['Started'] = db2['Users started'].str.replace('\s', ';', flags=re.UNICODE).apply(lambda x: x.split(';')[0])
db2['Registered'] = db2['Users started'].str.replace('\s', ';', flags=re.UNICODE).apply(lambda x: x.split(';')[2])
db2['Unique_users'] = db2['Hits'].str.replace(' ', ';', flags=re.UNICODE).apply(lambda x: x.split(';')[-1])
db2['Date'] = db2['Date'].str.replace(', ', ';', flags=re.UNICODE).apply(lambda x: x.split(';')[0])
db2['All_subscribes'] = db2['Users subscribed'].str.replace(' ', ';', flags=re.UNICODE).apply(lambda x: x.split(';')[0])
# удаляем использованные колонки
del db2['Users started']
del db2['Hits']
del db2['Users subscribed']

In [139]:
# приводим даты к нормальному формату
db2['Date'] = pd.to_datetime(db2['Date'])
db2['Started'] = pd.to_numeric(db2['Started'])
db2['Registered'] = pd.to_numeric(db2['Registered'])
db2['Unique_users'] = pd.to_numeric(db2['Unique_users'])
db2['All_subscribes'] = pd.to_numeric(db2['All_subscribes'])

In [143]:
# смотрим на очищенную таблицу, ура.
db2.head()

        Date  Started  Registered  Unique_users  All_subscribes
2 2017-01-28    25783        5482         89852             569
4 2017-01-29    25570        5250         86787             602
5 2017-01-30    25374        5388         85980             554
6 2017-01-31    22415        4923         83923             535
7 2017-01-02    24362        5134         82681             474